@{
    ViewBag.Title = "Settings";
}
<div class="featured">
    <ul class="app-settings-list dark-toggle">
        @if (User.Identity.IsAuthenticated) {
            <li>
                Manage Your Account
                <div class="manage-links">
                    <a href="~/Account/Manage">@Context.User.Identity.Name</a>
                    <a href="~/Account/IdentitySignOut">Sign Out</a>
                </div>
            </li>
        } else {
            <li><h3>To manage account settings please login or register below</h3></li>
            <li><a href="~/Account/Login">Login</a> / <a href="~/Account/Register">Register</a></li>
        }
        <li class="check-settings">
            <label for="dark-check">
                <input type="checkbox" name="dark-check" id="dark-check" />
                Dark Mode
            </label>
        </li>
    </ul>
</div>

@section scripts{
    <script type="text/javascript">
        if (localStorage.getItem('dark-mode') == "true") {
            $('#dark-check').attr("checked",true);
        } else {
            $('#dark-check').attr("checked", false);
        }
    </script>
}