@{
    var category = ViewBag.UrlMasterID;
    ViewBag.Title = category;
}


@section featured{
    <div class="featured"></div>
    <script defer type="text/javascript">
        setTimeout(function () {
            console.log(sources);
            getSourcesForCategory('@category');
        }, 500);
    </script>
}