@{
    var category = ViewBag.Category;
    ViewBag.Title = category;
}


@section featured{
    <div class="featured"></div>

    <script defer type="text/javascript">
        getSourcesForCategory('@category');
    </script>
}