@{
    ViewBag.Title = "Home";
}

@section featured {
    <!--Comment For Nothing But Comitting-->


    <!--<div id="tab_today" class="tabcontent">
        <div class="today"></div>
    </div>

    <div id="tab_tech" class="tabcontent">
        <div class="tech"></div>
    </div>

    <div id="tab_vehicles" class="tabcontent">
        <div class="vehicles"></div>
    </div>-->

}
<script src="~/lib/scripts/index.js"></script>