@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="banner">
        <h1>Newly Read</h1>
        <h2>Fresh. News. Now.</h2>
    </div>
    <div class="featured">
        @RenderPage("Category.cshtml")
    </div>
}