@{
    Page.Title = "Home Page";
}

@section featured {
    <!--Comment For Nothing But Comitting-->


    <div id="tab_today" class="tabcontent">
        <h3>Today</h3>
        <div class="today"></div>
    </div>

    <div id="tab_tech" class="tabcontent">
        <h3>Tech</h3>
        <div class="tech"></div>
    </div>

    <div id="tab_vehicles" class="tabcontent">
        <h3>vehicles</h3>
        <div class="vehicles"></div>
    </div>

}