@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="banner dark-toggle">
        <h1>Newly Read</h1>
        <h2>Fresh. News. Now.</h2>
        <p>Pick a category above to get started.</p>
    </div>
    <div class="featured">
        @RenderPage("Category.cshtml")
    </div>
}