<header>
    <nav class="dark-toggle" id="top_nav">
        <a href="~/" id="logo">Newly Read</a>

        <ul id="main_nav">
            <li class="dropdown">
                <div class="dropdown-selector">
                    <strong>@ViewBag.Title</strong>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="dropdown-content">
                    <li><a href="~/Home/Category/?category=business">Business</a></li>
                    <li><a href="~/Home/Category/?category=entertainment">Entertainment</a></li>
                    <li><a href="~/Home/Category/?category=gaming">Gaming</a></li>
                    <li><a href="~/Home/Category/?category=general">General</a></li>
                    <li><a href="~/Home/Category/?category=music">Music</a></li>
                    <li><a href="~/Home/Category/?category=science">Science and Nature</a></li>
                    <li><a href="~/Home/Category/?category=sport">Sports</a></li>
                    <li><a href="~/Home/Category/?category=technology">Technology</a></li>
                </ul>
            </li>
        </ul>
        
        <ul id="settings_nav">
            <li class="float-right app-settings dropdown">
                <i class="material-icons">settings</i>
                <!--<a href="~/Home/AppSettings"></a>-->
                <ul class="dropdown-content">
                    @if (User.Identity.IsAuthenticated) {
                        <li>
                            <a href="~/Account/Manage" class="clickable">@Context.User.Identity.Name</a>
                            <a href="~/Account/IdentitySignOut">Sign Out</a>
                        </li>
                    } else {
                        <li><a href="~/Account/Login">Login</a></li>
                    }
                    <li class="check-settings">
                        <a href="#">
                            <label for="dark-check">
                                <input type="checkbox" name="dark-check" id="dark-check" />
                                Dark Mode
                            </label>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
