@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - News</title>

    <link href="~/lib/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header class="header">
        <select class="row tab menu">
            <option value="tab_today" class="tablinks">Today</option>
            <option value="tab_tech" class="tablinks">Tech</option>
            <option value="tab_vehicles" class="tablinks">Vehicles</option>
            <option value="Refresh" class="tablinks" onclick="clearStorage(); location.reload();">Refresh</option>
        </select>
        <p id="loading">Loading</p>
    </header>

    

    <div clas="box" id="body">
        
        @RenderSection("featured", required: false)
        <section class="row">
            @RenderBody()
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/scripts/jquery-3.1.1.js"></script>
        <script async defer src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script async defer src="~/lib/scripts/jquery.lazyload.js"></script>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <script defer src="~/lib/scripts/index.js"></script>
    </environment>

    <environment names="Production">
        <script src="~/lib/scripts/jquery-3.1.1.min.js"></script>
        <script async defer src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script async defer src="~/lib/scripts/jquery.lazyload.min.js"></script>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <script defer src="~/lib/scripts/index.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>