@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - News</title>

    <link href="~/lib/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <environment names="Development">
        <script src="~/lib/scripts/jquery-3.1.1.js"></script>
        <script src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script src="~/lib/scripts/index.js"></script>
    </environment>

    <environment names="Production">
        <script src="~/lib/scripts/jquery-3.1.1.min.js"></script>
        <script src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script src="~/lib/scripts/index.js"></script>
    </environment>

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header class="nav-down">
        <ul class="tab">
            <li><a href="#" class="tablinks" onclick="openCity(event, 'tab_today')">Today</a></li>
            <li><a href="#" class="tablinks" onclick="openCity(event, 'tab_tech')">Tech</a></li>
            <li><a href="#" class="tablinks" onclick="openCity(event, 'tab_vehicles')">Vehicles</a></li>
            <li><a href="#" onclick="clearStorage(); location.reload();">Refresh</a></li>
        </ul>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>