@{
    ViewBag.Title = "Login";
}
@section featured{
    <div>
        <h1>Login</h1>
        <form action="/logout" method="post" id="logout_form">
            <a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">
                Log Out
            </a>
        </form>
    </div>
}

