@section featured{
    <form action="#" method="post">
        <input type="email" class="" name="email"/>
        <input type="password" class="" name="password" />
        @Html.ActionLink("Add User", "AddUser", "Account")
    </form>
}