@{
    ViewBag.Title = "Log in";
}
<div class="featured">
    <div id="form">
        <h1>@ViewBag.Title</h1>
        <h2>Use a local account to log in</h2>
        @if (ViewBag.Error != null) {
            <p class="warning">@ViewBag.Error</p>
        }
        <form action="~/Account/LoginUser" method="post">
            <fieldset>
                <legend>Log in to Your Account</legend>
                <ol>
                    <li class="userName">
                        <label for="userName"> User name</label>
                        <input type="text" id="userName" name="userName" />
                    </li>
                    <li class="password">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" />
                    </li>
                </ol>
                <input type="submit" value="Log in" />
            </fieldset>
        </form>
        <p>
            <a href="~/Account/Register">Don't have an Account?</a>
            <a href="~/Account/ForgotPassword">Did you forget your password?</a>
        </p>
    </div>
</div>



