@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security
@using System.Web.Http;

@{
    ViewBag.Title = "Register";
}
@section featured{
    <div class="banner-no-image">
        <div class="form message">
            <h2>Create a new account</h2>
            
            <form method="post" action="~/Account/CreateUser">
                <ul>
                    @* TODO get real validation working *@
                    <li>
                        @if (ViewBag.Error != null) {
                            <p class="warning">@ViewBag.Error</p>
                        }
                    </li>
                    <li>
                        <label for="userName" class="error-label">User Name</label>
                        <input type="text" id="userName" name="userName" />
                    </li>
                    <li>
                        <label for="email" class="error-label">Email</label>
                        <input type="text" id="email" name="email" />
                    </li>
                    <li>
                        <label for="password" class="error-label">Password</label>
                        <input type="password" id="password" name="password" />
                    </li>
                    <li>
                        <label for="confirmPassword" class="error-label">Confirm password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" />
                    </li>
                </ul>

                <input class="btn" type="submit" value="Register" />
            </form>
        </div>
    </div>
}