@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security
@using System.Web.Http;

@{
    ViewBag.Title = "Register";
}
<div class="featured">
    <div class="row form">
        <h1>@ViewBag.Title</h1>
        <h2>Create a new account</h2>
        @if (ViewBag.Error != null) {
            <p class="warning">@ViewBag.Error</p>
        }
        <div>
            <form method="post" action="~/Account/CreateUser">
                <div>
                    <label for="userName" class="error-label">User Name</label>
                    <input type="text" id="userName" name="userName" />
                </div>
                <div>
                    <label for="email" class="error-label">Email</label>
                    <input type="text" id="email" name="email" />
                </div>
                <div>
                    <label for="password" class="error-label">Password</label>
                    <input type="password" id="password" name="password" />
                </div>
                <div>
                    <label for="confirmPassword" class="error-label">Confirm password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" />
                </div>

                <input type="submit" value="Register" />

            </form>
        </div>
    </div>
</div>
